NEXT_PUBLIC_SUPABASE_URL=https://rufjebyqbdpdgnofuzaq.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ1ZmplYnlxYmRwZGdub2Z1emFxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg1NTMzNDgsImV4cCI6MjA4NDEyOTM0OH0.w7WMFFu2jEP4b8Lgl5Alg5i6xT6AZQA61NQ-bmHMiKE

# Variables sensibles (NO COMPARTIR PÚBLICAMENTE, pedir al equipo de desarrollo)
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key-here
SUPABASE_ACCESS_TOKEN=your-access-token-here
